.bg-form {
  background-color: #f0f2f4c7;
}

input {
  all: unset;
  background-color: #f0f2f4c7;
  caret-color: #ff0033;
  width:100% ;
}

.form-input {
  border-bottom: #ff0033 2px solid;
  width: auto;
}

button {
  all: unset;
  color: #ffff;
  background-color: #ff0033;
  border-radius: 10px;
}
