.bg-form {
  background-color: #f0f2f4c7;
}

input {
  background-color: #f0f2f4c7;
}

button {
  all: unset;
  color:#ffff;
  background-color: #ff0033;
  box-shadow: unset;
  text-shadow: unset;
  border-radius: 10px;
}